.container {
  padding: 0 2rem;
}

.main {
  position: relative;
}
.maindiv {
  background: linear-gradient(to right, #d9d7d479, #d9844893), url("../assets/img/image000000.png");
  background-size:cover;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}
.titles{
  margin: auto;
  animation: fadeInBottom 1.5s;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.gallerymain {
  background-size:cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.shapedivided {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shapedivided svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
  fill: #FFFFFF;
}


.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.navmenu ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.navmenu>ul {
  display: flex;
}

.navmenu>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px;
}

.navmenu a {
  display: block;
  position: relative;
  transition: 0.3s;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  border: 0;
  --tw-bg-opacity: 1;
    background-color: rgb(168 162 158 / var(--tw-bg-opacity));
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .navmenu{
    display: flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.navmenu li{
    margin-left: .5rem;
    margin-right: .5rem;
}
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

@keyframes fadeInBottom {
  from {
     opacity: 0;
     transform: translateY(20px);
  }
  to {
     opacity: 1;
     transform: translateX(0);
  }
}